head>< !-- Спочатку нормалізатор --><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css">
< https: //fonts.gstatic.com>
<link rel="stylesheet" href="./css/styles.css" />
</head>



https: //fonts.gstatic.com





body > {background-color: #FFFFFF
font-family: "Roboto", sans-serif ;
color: #434455}



.tatel {width: 218px 
   height:40px 
   top: 1868px
   left: 611px
   styleName: Header 2;
      font-family: Roboto;
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: 0.02em;
      text-align: center;
      color: background: #2E2F42;

}

section {width: 1128px height: 420px top: 1980px left: 156px border: 1px}


















