body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFFFFF }

.header {}


span {
color: #2e2f42}

.nav-menu {}

.webstudio {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height : 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.studio {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
color: #f4f4fd
}
.menu-heder:hover 
{
color: #404bbf
}
.menu-heder:focus{color: #404bbf }


.menu-heder {font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42; 

}

ul li {list-style: none;}

.menu-li {}

.address {font-style: normal}

.address-ul {}

.address-malito {

font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.address-malito:hover,:focus {color: #404bbf}


.address-tel {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.address-tel:hover,:focus {color: #404bbf
}

.mains {
}

.main-section {
background: #2e2f42;
}

.effectiv {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.button-order-service:hover,:focus{
background-color: #404BBF
cursor  pointer
font-family "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4D5AE5
}


.section-2 {}

.spdt-ul {}

.spdt-spdt-p {}

.spdt {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.spdt-p {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}

.section-3 {background-color: #F4F4FD}

.team {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
text-align: center;
text-transform: capitalize}

.team-ul {background-color: #FFFFFF}

.eam-li {background-color: #FFFFFF}

.team-man {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.hu {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

.section-4 {}

.our {font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42; }

.our-ul {}

.our-li {}

.bcm {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.amm {font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

.section-5 {}

.section-5-ul {}

.section-5-li {}

.foot {background: #2e2f42;}

.footer-p {font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
color:#F4F4FD; 

}

.studio-footer {
    font-family: "Raleway", sans-serif,
    font-weight 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;;
    color: #f4f4fd}

.webstudio-footer {
    font-family: "Raleway", sans-serif ,
    font-weight 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;}
